*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family:'Roboto' sans-serif
}
.containerD{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #e22e40, #161616);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 370px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background: #ffffff;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}
.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 25px 10px #ff00002c;
    border-radius: 30px;
}
.pressBtn{
    padding: 10px 22px;
    cursor: pointer;
    background:transparent;
    border:0px;
    outline: none;
    position: relative;
}
#elegir{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, #cf2031, #cf2031);
    border-radius: 30px;
    transition: 0.8s;
}
.redes{
    margin: 35px auto;
    text-align: center;
}
.redes i{
    margin:0 12px;
    cursor: pointer;

}
.redes i:hover{
    color: #cf2031;
    transform: scale(1.1);
    transition: 0.3s;
}
.input-agr{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.8s ;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #cf2031;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #cf2031, #cf2031);
    box-shadow: 0 0 25px 10px #ff00002c;
    border: 0px;
    outline: none;
    border-radius: 30px;
}
.submit-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.checkbox{
    margin: 30px 10px 30px 0;
}
span{
    color:#ff0000;
    font-size: 12px;
    bottom: 64px;
    position: absolute;
}
#login{
    left: 50px;
}
#registrar{
    left: 450px ;
}